* {

}

/*===Variables===*/
:root {
    --primary: #292929;
    --accent: #1D6F87;
}

/*===Header & Navigation===*/
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
}

nav>ul {
    display: flex;
}

nav li {
    list-style-type: none;
}

/*===HTML=&=Body=Defaults===*/

/*===Fonts + Colour + Text===*/
@font-face {
    font-family: 'Azzi';
    src: url('fonts/AzeretMono-VariableFont_wght.ttf') format('ttf'),
    url('fonts/AzeretMono-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Azz';
    src: url('fonts/AzeretMono-Italic-VariableFont_wght.ttf') format('ttf'),
    url('fonts/AzeretMono-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Azz', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
