* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===Variables===*/
:root {
    --primary: #0f192b;
    --accent: #9c2222;
    --off-white: #ecedf3;
}

/*===Header & Navigation===*/
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px;
}

nav>ul {
    display: flex;
}

nav li {
    list-style-type: none;
}

/*===HTML=&=Body=Defaults===*/
body {
    background-color: #303030;
}
h1, h2, p, li {
    color: var(--off-white);
}

.button {
    padding: 25px;
    border-radius: 10px;
    background-color: var(--accent);
    display: inline-block;
    width: 200px;
    text-align: center;
}

/*===Fonts + Colour + Text===*/
@font-face {
    font-family: 'Azzi';
    src: url('fonts/AzeretMono-VariableFont_wght.ttf') format('ttf'),
    url('fonts/AzeretMono-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Azz';
    src: url('fonts/AzeretMono-Italic-VariableFont_wght.ttf') format('ttf'),
    url('fonts/AzeretMono-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Azz', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
